page {
	background-color: #fff;
}
.container{
	padding-bottom: 180upx;
}
.top-box {
	padding: 80upx 40upx;
}
.title {
	color: #2c2d2d;
	font-size: 48upx;
	font-weight: 700;
}
.subtitle {
	margin-top: 10upx;
	font-size: 28upx;
	font-family: PingFangSC-Regular, PingFang SC;
	font-weight: 400;
	color: rgba(180, 185, 185, 1);
}
.warp-box {
}
.cell-list {
	position: relative;
	padding: 40upx;
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: space-between;
	&::after {
		content: " ";
		width: calc(100% - 80upx);
		left: 40upx;
		position: absolute;
		border-bottom: 2upx solid #eaecec;
		bottom: 0;
	}
}
.cell-hover {
	background-color: #f7f7f9;
}
.cell-list-two {
	padding: 40upx;
	position: relative;

	&::after {
		content: " ";
		position: absolute;
		border-bottom: 2upx solid #eaecec;
		bottom: 0;
		left: 40upx;
		width: calc(100% - 80upx);
	}
}
.cell-title {
	font-size: 28upx;
	color: #2c2d2d;
}
.title-box {
}
.item-btn-box {
	display: flex;
	flex-direction: row;
	border: 1px solid #21c2c2;
	border-radius: 6upx;
	.item-btn {
		text-align: center;
		width: 200upx;
		padding: 10upx 0;
		font-size: 28upx;
		color: #37c2bb;
		background-color: #fff;
		&.active {
			color: #fff;
			background-color: #21c2c2;
		}
	}
	.sex {
		margin-right: 10upx;
		vertical-align: middle;
		width: 26upx;
		height: 26upx;
	}
}
.subtitle-box {
	display: flex;
	width: 100%;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
}
.desc {
	font-size: 32upx;
	font-family: PingFangSC-Regular, PingFang SC;
	font-weight: 400;
	color: rgba(180, 185, 185, 1);
	margin-top: 20upx;
	font-weight: 500;
	&.active {
		color: #2c2d2d;
		font-weight: 700;
	}
}
.arrow {
	position: relative;
	&:before {
		content: " ";
		height: 16upx;
		width: 16upx;
		border-width: 2upx 2upx 0 0;
		border-color: #b2b2b2;
		border-style: solid;
		transform: matrix(0.71, 0.71, 0.71, -0.71, 0, 0);
		position: absolute;
		top: 50%;
		margin-top: -7px;
		right: 0upx;
	}
}
.popup-box {
	border-top-left-radius: 20upx;
	border-top-right-radius: 20upx;
	padding-bottom: calc(40upx + env(safe-area-inset-bottom));
}
.popup-header {
	border-bottom: 1upx solid #eaecec;
	flex-direction: row;
	display: flex;
	justify-content: space-between;
	align-items: center;
	.cancle {
		padding: 20upx 30upx;
		color: #b4b9b9;
	}
	.confirm {
		padding: 20upx 30upx;
		color: #1bb6b6;
	}
}
.content-box {
	text-align: center;
	padding: 30upx 100upx;
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: center;
	align-items: center;
	.item {
		margin-bottom: 30upx;
		font-size: 28upx;
		min-width: 240upx;
		border: 1upx solid #eaecec;
		background-color: #fff;
		color: #2c2d2d;
		padding: 14upx 0;
		border-radius: 6upx;
		margin-right: 20upx;
		&.active {
			border: 1upx solid #21c2c2;
			background-color: #21c2c2;
			color: #fff;
		}
	}
}
.disactive {
    color: #fff;
    background-color: #dee0e0;
  }
  