.title {
  color: #121c32;
  font-size: 28upx;
  font-weight: bold;
  position: relative;
  display: inline-block;
  padding: 40upx 40upx 20upx;
}
.dot-msg {
  display: inline-block;
  position: absolute;
  top: 20upx;
  left: 150upx;
  font-weight: bold;
  border-bottom-left-radius: 0 !important;
}

.tui-title {
  color: #394259;
  font-size: 28upx !important;
  overflow: hidden;
  text-overflow: ellipsis;
  word-wrap: break-word;
  white-space: normal;
}
.item-cell {
  margin-bottom: 10upx;
}
.tui-content {
  padding: 20rpx 30rpx 40upx;
  background: #f7f8fa;
  color: #868f9e;
  font-size: 26rpx;
}
