<!--
 * @Author: shawn
 * @LastEditTime: 2020-04-14 14:36:17
 -->
<!DOCTYPE html>
<html lang="zh-CN">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="keywords" content="麻豆、找模特、摄影约拍、找摄影师、爱去拍、摄影约拍、约拍、去哪约拍、摄影师" />
    <meta name="description" content="爱去拍是一家专业做摄影师，模特约拍服务平台，找摄影师，找模特，约拍麻豆，随时随地，相约就约。" />
    <meta name="viewport"
        content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0, viewport-fit=cover">
    <title>
        <%= htmlWebpackPlugin.options.title %>
    </title>
    <link rel="shortcut icon" type="image/x-icon" href="./aiqupai.ico" />

    <!-- <script src="https://cdn.bootcss.com/vConsole/2.2.1/vconsole.min.js"></script> -->
    <link rel="stylesheet" href="<%= htmlWebpackPlugin.options.baseUrl %>static/index.css" />


</head>

<body>
    <noscript>
        <strong>Please enable JavaScript to continue.</strong>
    </noscript>
    <div id="app"></div>
    <!-- built files will be auto injected -->
    <script>
        // document.addEventListener('DOMContentLoaded', function () {
        //     document.documentElement.style.fontSize = document.documentElement.clientWidth / 20 + 'px'
        // })
        // if ((navigator.userAgent.match(/(phone|pad|pod|iPhone|iPod|ios|iPad|Android|Mobile|BlackBerry|IEMobile|MQQBrowser|JUC|Fennec|wOSBrowser|BrowserNG|WebOS|Symbian|Windows Phone)/i))) {
        //     if (location.origin !== 'http://127.0.0.1:8000') {
        //         window.location.href = "http://127.0.0.1:8000";     //手机
        //     }
        // } else {
        //     if (location.origin !== 'http://127.0.0.1:8000') {
        //         window.location.href = "http://127.0.0.1:8000";     //电脑
        //     }
        // }
    </script>
</body>

</html>
</script>
</body> -->
